USE [AMVI_2018]
GO
/****** Object:  Table [dbo].[Arenas]    Script Date: 12/12/2018 1:51:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Arenas](
	[ArenaID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ArenaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Matches]    Script Date: 12/12/2018 1:51:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Matches](
	[MatchID] [int] IDENTITY(1,1) NOT NULL,
	[ArenaID] [int] NULL,
	[Player1] [int] NULL,
	[Player2] [int] NULL,
	[ResourcesUsed1] [int] NULL,
	[ResourcesUsed2] [int] NULL,
	[MatchDuration] [int] NULL,
	[Points1] [int] NULL,
	[Points2] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MatchID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Players]    Script Date: 12/12/2018 1:51:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Players](
	[PlayerID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](255) NULL,
	[Country] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[PlayerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Arenas] ON 

INSERT [dbo].[Arenas] ([ArenaID], [Name]) VALUES (1, N'Sacred Tree')
INSERT [dbo].[Arenas] ([ArenaID], [Name]) VALUES (2, N'Forsaken Ships')
INSERT [dbo].[Arenas] ([ArenaID], [Name]) VALUES (3, N'Kingdom Border')
SET IDENTITY_INSERT [dbo].[Arenas] OFF
SET IDENTITY_INSERT [dbo].[Matches] ON 

INSERT [dbo].[Matches] ([MatchID], [ArenaID], [Player1], [Player2], [ResourcesUsed1], [ResourcesUsed2], [MatchDuration], [Points1], [Points2]) VALUES (1, 2, 46, 26, 2662, 7644, 227, 6868, 3132)
INSERT [dbo].[Matches] ([MatchID], [ArenaID], [Player1], [Player2], [ResourcesUsed1], [ResourcesUsed2], [MatchDuration], [Points1], [Points2]) VALUES (2, 3, 47, 18, 778, 7529, 261, 8723, 1277)
INSERT [dbo].[Matches] ([MatchID], [ArenaID], [Player1], [Player2], [ResourcesUsed1], [ResourcesUsed2], [MatchDuration], [Points1], [Points2]) VALUES (3, 5, 8, 25, 9040, 106, 408, 1842, 8158)
GO
SET IDENTITY_INSERT [dbo].[Matches] OFF
SET IDENTITY_INSERT [dbo].[Players] ON 

INSERT [dbo].[Players] ([PlayerID], [Name], [Country]) VALUES (1, N'unificationpuscle', N'Russia')
INSERT [dbo].[Players] ([PlayerID], [Name], [Country]) VALUES (2, N'cranniesbitcoin', N'United States')
INSERT [dbo].[Players] ([PlayerID], [Name], [Country]) VALUES (3, N'eyetrolleybus', N'Russia')
SET IDENTITY_INSERT [dbo].[Players] OFF
ALTER TABLE [dbo].[Matches]  WITH CHECK ADD FOREIGN KEY([ArenaID])
REFERENCES [dbo].[Arenas] ([ArenaID])
GO
ALTER TABLE [dbo].[Matches]  WITH CHECK ADD FOREIGN KEY([Player1])
REFERENCES [dbo].[Players] ([PlayerID])
GO
ALTER TABLE [dbo].[Matches]  WITH CHECK ADD FOREIGN KEY([Player2])
REFERENCES [dbo].[Players] ([PlayerID])
GO
